.headerr{
    height: 70px;
    background-color: rgb(17, 17, 17);
    display: flex;
    /* align-items: center; */
}
.icon-menu{
    color: rgba(255, 255, 255, 0.7);
}
.input-group-menu{
    border-radius: 2px;
    height: 25px;
}
a{
    text-decoration: none;
    color: white;
}
.activ{
    border-bottom: 4px solid gold;
}
.hover-menu:hover{
    background-color: rgb(29, 27, 27);
    color: white;
    text-decoration: none;    
    height: 60px;
}
a:hover{
    text-decoration: none;
    color: white;
}
.input-group-menu:checked{
    border: 1px solid gold;
}
.border-left{
    border-right: black 0.5px solid;
}
.menu{
    color:white;
    font-size: 18px;
}
.borderr{
    border-right: 1px solid gray;
}
h1{
    color: rgb(245, 197, 24);
}
.bg-color{
    background-color: black;
}
li{
    list-style: none;
}
.movie-list{
    display: flex;
    width: 800px;
    height: 50px;
    margin-top: 20px;
    padding: 0;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
}
.movie-menu{
    font-weight: bold;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section2 */
.info{
    padding: 5px 55px;
}
.cinema-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
    
}

.cinema-box{
    width: 15%;
    /* background-color: rgba(44, 43, 43, 0.8); */
    margin-bottom: 40px;
    /* border-radius: 7px; */
    transition: all 1s ease;

}
.cinema-img-box:hover .cinema-img{
    opacity: 0.3;    
}
.cinema-img-box:hover .cinema-play-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cinema-name{
    color: white;
    background-color: rgba(44, 43, 43, 0.8);
    border-radius: 10px;
    font-size: 18px;
    height: 55px;
}
.cinema-img{
    width: 100%;
    height: 170px;
    object-fit: contain;
    object-position: center;
}
.cinema-img-box{
    width: 100%;
    height: 170px;
    position: relative;
}
.cinema-ganre{
    background-color: rgba(255, 255, 255, 0.2);
    color: orange;
    border-radius: 10px;
    font-size: 18px;
}
.cinema-play-icon{
    width: 35px;
    height: 35px;
    display: none;
}
.footer_i{
    width: 300px;
    margin: 100px auto 40px auto;
}
i:hover{
    color: white;
}
.footer_c{
    width: 620px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.footer_c>a:hover{
    color: orange;
    text-decoration-style: solid;
}
i{
    color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.8; */
}
.c-white{
    color: white;
}
.footer_h6{
    color: white;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.amazon-icon{
    color: white;
    margin: 30px auto;
}
.footer_icon:hover{
    padding: 5px 7px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}